.callButton {
    width: 135px;
}

.userFound {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.userNotFound {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: grey !important;
    border-color: grey !important;
    color: black !important
}